<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="accounts.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="accounts.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="header.png" alt="" />
    </header>

    <nav>
      <div id="dummy_div">
        <a href="/index"> Home Page </a>
        <a href="/search_page"> Search page </a>

        <a href="/timeline"> Timeline/Profile </a>

        <a href="/oldOrder"> Previous Orders </a>

        <a href="/game"> Game </a>

        <a href="/personalCart"> Cart 🛒 </a>

        <% if (userList[0].admin) { %>
        <a href="/accounts">View All Accounts</a>
        <% } %>
      </div>

      <form action="/logout" method="POST">
        <button class="logoutButton">Logout</button>
      </form>
    </nav>
    <main>
        <div class="accountWrapper">

        </div>
        <div class="register-form">
            <h1>Register</h1>
            <form action="/register" method="POST">
              <div>
                <label for="name">Username</label> <br />
                <input
                  type="text"
                  id="name"
                  name="username"
                  placeholder="username"
                  required
                />
              </div>
              <div>
                <label for="email">Email</label> <br />
                <input
                  type="text"
                  id="email"
                  name="email"
                  placeholder="email"
                  required
                />
              </div>
              <div>
                <label for="password">Password</label> <br />
                <input
                  type="text"
                  id="password"
                  name="password"
                  placeholder="password"
                  required
                />
              </div>
              <button type="submit">Register</button>
            </form>
          </div>
    </main>

    <footer>
      <h5>Copyright © Your Website 2022</h5>
      <img src="footer.png" alt="" />
    </footer>
  </body>
</html>
