* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    background-color: yellow;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dummy_div {
    display: flex;
}

header img {
    height: 35vh;
    width: 100%;
}

footer {
    color: black;
}

footer,
header {
    text-align: center;
}

#outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0px;
}

body,
html {
    height: 100%;
}

nav {

    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;

}

nav a:hover {
    background-color: f2f2f2;
    color: #333;
}

.logoutButton {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    border: #333;
}

button {
    background-color: #333;
}


img {
    width: 100%;
    height: 100%;
}
.accountWrapper {
    padding-left: 10rem;
    display: flex;
    width: 65%;
    flex-direction: column;
}

.accountWrapper div{
    margin-top: 2rem;
}

.register-form{
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
    background-color: darkslateblue;
    border-radius: 2rem;
    margin-left: 3rem;
    padding: 2rem;
}

.cardContent {
    background-color: darkslateblue;
    padding: 1rem;
    border-radius: 2rem;
}

.giveButtons, .removeButtons, .deleteButtons {
    color: #fff;
    margin: 0rem 2rem;
    padding: 0.5rem;
    font-size: medium;
}

form div {
    margin: 2rem 0rem;
}
form button {
    color: #fff;
    padding: 0.5rem;
    font-size: medium;
}

form label {
    font-size: large;
}

form input{
    font-size: large;
}
@media screen and (max-width: 800px) {

    main,
    nav,
    .images_group,
    #dummy_div {
        flex-direction: column;
    }

    .images_group {
        width: 100% !important;
    }

    .mainContent {
        flex-direction: column-reverse;
    }

    .logoutButton {
        width: 100%;
      }
}
