* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dummy_div {
    display: flex;
}

header img {
    height: 35vh;
    width: 100%;
}

footer {
    color: black;
}

footer,
header {
    text-align: center;
}

#outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0px;
}

body,
html {
    height: 100%;
}

nav {

    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;

}

nav a:hover {
    background-color: f2f2f2;
    color: #333;
}

.logoutButton {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    border: #333;
}

button {
    background-color: #333;
}


img {
    width: 100%;
    height: 100%;
}
.accountWrapper {
    padding-left: 15rem;
    display: flex;
    width: 65%;
    flex-direction: column;
}

.accountWrapper div{
    margin-top: 2rem;
}

.register-form{
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
}
/* .buttonContainers {
    display: flex;
}

.buttonContainers button{
    margin: 1rem;
}

.cardContent {
    width: 10rem;
    height: 2rem;
    display: flex;
} */

@media screen and (max-width: 800px) {

    main,
    nav,
    .images_group,
    #dummy_div {
        flex-direction: column;
    }

    .images_group {
        width: 100% !important;
    }

    .mainContent {
        flex-direction: column-reverse;
    }

    .logoutButton {
        width: 100%;
      }
}
